@font-face {
    font-family: "Kelly Slab";
    src: url("fonts/KellySlab-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

body {
  font-family: "Kelly Slab", sans-serif;
}